body {
  scroll-behavior: smooth;
}

#welcome-section .jumbotron {
  height: 100vh;
}

#mobile {
  position: fixed;
  right: 36px;
  bottom: 36px;
  display: none;
}

@media (max-width: 420px) {
  #mobile {
    display: block;
  }
}